@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  min-height: 100%;
  background-color: #f8fbff;
  color: #1f2937;
  font-family: 'Inter', 'Noto Sans KR', system-ui, sans-serif;
  margin: 0;
  padding: 0;
}

a, button, input, textarea {
  font-family: inherit;
  outline: none;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.1);
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}
